{
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "singleQuote": false,
  "bracketSameLine": true,
  "semi": true,
  "extensions": [".ts", ".js", ".json"],
  "arrowParens": "avoid",
  "proseWrap": "always"
}
